.table-container {
    max-height: 500px;
    margin: 25pt auto 25pt auto;
    overflow-y: auto;
    width: max-content;
  }

  table {
      width: 500px;
  }

  
.newWordContainer {
    width: 10%;
    margin: 25pt 25pt 25pt auto;
    display: flex;
    flex-direction: column;
  }

  .newWordContainer * {
    margin: 5pt;
  }