.table-container {
    max-height: 500px;
    margin: 25pt auto 25pt auto;
    overflow-y: auto;
    width: max-content;
  }

  table {
      width: 500px;
  }

  
.newWordContainer {
    width: 10%
  }