<mat-sidenav-container class="example-container" style="height: 100%; width: 100%">
  <mat-sidenav #sidenav mode="side" role="navigation" disableClose="true" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/editor'">Vocabularies</a>
      <a mat-list-item [routerLink]="'/practice'">Practice</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
